<h2>User info</h2>

<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
<div class="row">
  <%= link_to "user_edit", edit_user_path(user.id) ,class: "btn btn-outline-secondary btn-block" %>
</div>
<h2>New book</h2>
  <%= form_with model: book, url: books_path, method: :post do |f| %>
  <label>Title</label><br>
  <%= f.text_field :title %><br>
  <label>Opinion</label><br>
  <%= f.text_area :body %><br>
  <%= f.submit 'Create Book' %>
  <% end %>