<h1>User Info</h1>

<% if @user.errors.any? %>
 <%= @user.errors.count %>Error!!
 <ul>
  <% @user.errors.full_messages.each do |message| %>
   <li><%= message %></li>
  <% end %>
 </ul>
<%end%>

<%= form_with model: @user do |f| %>

<p for="inputName">Name</p>

<p><%= f.text_field:name,autofocus: true,id:"inputName",placeholder:"name" %></p>

<p for="inputImage">Image</p>

<p><%= f.file_field:image,placeholder:"プロフィール画像",accept: "image/*"%></p>

<p for="inputIntroduction">Introduction</p>

<p><%= f.text_area :introduction,autofocus: true,id:"inputIntroduction",placeholder:"introduction" %></p>

<p><%= f.submit'Update User' %></p>

<% end %>

<p>CopyRight Infratop.inc</p>

<p><%= image_tag @user.get_image(100,100) %></p>

<p>name</p>
 <%= @user.name %>

<p>introduction</p>
 <%= @user.introduction %>