<%= render 'new',users:@users,book:@book %>

<h1>Users</h1>

<%= @users.each do |user| %>

<table>

  <thead>

    <tr>

      <th>image</th>

      <th>name</th>

      <th></th>

      <th colspan="3"></th>

    </tr>

  </thead>

  <tbody>

    <tr>

     <tb><%= image_tag user.get_image(100,100) %></tb>

     <tb><%= user.name %></tb>

     <tb><%= link_to"Show",user_path(user.id)%></tb>

    </tr>

  </tbody>

</table>

<% end %>

