<h1>User info</h1>
 <p>投稿ユーザー画像:<%= image_tag bookuser.get_profile_image(100,100) %></p>
<p>name</p>
 <%= @user.name %>
<p>introduction</p>
 <%= @user.introduction %>

<h1>New book</h1>
 <%= form_with model:@book do |f| %>

  <h2>Title</h2>
  <%= f.text_field :title %>

  <h2>Option</h2>
  <%= f.text_area :body %>
  <%= f.submit'Create Book'%>

<% end %>