
 <%= render 'new',users:@users,book:@book %>

<h1>Books</h1>

<%= @books.each do |book| %>

<p>Title</p>

<p><%= book.title %></p>

<p>Option</p>

<p><%= book.body %></p>

<p><%= link_to'Show',book_path(book.id) %></p>

<%end%>

