<h1>User info</h1>

<p><%= image_tag @user.get_image(100,100)%></p>

<p>name</p>
 <%= @user.name %>

<p>introduction</p>
 <%= @user.introduction %>

<%= link_to"edit",edit_user_path %>

<h1>New Book</h1>

<%= form_with model: @book do |f| %>

<p><%= f.text_field :title %></p>

<p><%= f.text_area :body %></p>

<%= f.submit '投稿' %>


<% end %>