
<h1><%= link_to'Bookers',root_path %></h1>
<header>

 <li>
  <%= link_to"Home",root_path %>
 </li>

 <li>
  <%= link_to"Users",users_path %>
 </li>

 <li>
   <%= link_to"Books",books_path %>
 </li>

</header>

<h1>User info</h1>

<p><%= image_tag @user.get_image(100,100) %></p>

<p>name</p>
 <%= @user.name %>

<p>introduction</p>
 <%= @user.introduction %>

<p><%= link_to"edit",edit_user_path %><p>

<h1>New Book</h1>

<%= form_with model: @book do |f| %>

<p>Title</p>

<p><%= f.text_field :title %></p>

<p>Option</p>

<p><%= f.text_area :body %></p>

<p><%= f.submit 'Create Book' %></p>

<% end %>

<h1>Books</h1>

<%= @books.each do |book| %>

<p>Title</p>

<p><%= book.title %></p>

<p>Option</p>

<p><%= book.body %></p>

<p><%= link_to'Show',book_path(book.id) %></p>

<%end%>

<% if flash[:notice] %>
 <p id="notice">
  <%= flash[:notice] %>
 </p>
<% end %>

