<h1>Edting Book</h1>

<%= form_with model: @book do |f| %>

 <p>Title</p>

 <p><%= f.text_field :title %></p>

 <p>Option</p>

 <p><%= f.text_area :body %></p>

 <p><%= f.submit'Update Book'%></p>

<%end%>

<p><%= link_to'Show',book_path %>|<%= link_to'Back',books_path %></p>
