<h1>Books</h1>

<% if @book.errors.any? %>
 <%= @book.errors.count %>Error!!
 <ul>
  <% @book.errors.full_messages.each do |message| %>
   <li><%= message %></li>
  <% end %>
 </ul>
<%end%>

<%= @books.each do |book| %>

<p>Title</p>

<p><%= link_to "#{book.title}",book_path(book.id) %></p>

<p>Option</p>

<p><%= book.body %></p>

<%end%>

