<h1>Books#new</h1>
<p>Find me in app/views/books/new.html.erb</p>
<%= image_tag bookuser.get_profile_image(100,100) %>

<h1>Books</h1>

<%= @books.each do |books| %>

<p><%= image tag bookuser.get_profile_image(100,100) %></p>

<p><%= book title %></p>

<p><%= book body %></p>

<% end %>